<header>
	<div class="px-3 py-2 text-bg-dark">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
					<img class="bi me-2" width="100" height="100" role="img" src="../../../assets/img/minlogo.png"
						aria-label="NyelvSzo">
				</a>

				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li>
						<a [routerLink]="['/']" class="nav-link text-secondary">
							<i-feather name="home"></i-feather>
							{{'Home'|translate}}
						</a>
					</li>
					<li>
						<a [routerLink]="['/entries']" routerLinkActive="active" class="nav-link text-white">
							<i-feather name="filter"></i-feather>
							{{'Search'|translate}}
						</a>
					</li>
					<li>
						<a [routerLink]="['/preface']" routerLinkActive="active" class="nav-link text-white">
							<i-feather name="book-open"></i-feather>
							{{'Preface'|translate}}
						</a>
					</li>
					<li>
						<a routerLink="/versionhistory" class="nav-link text-white">
							<i-feather name="file-text"></i-feather>
							{{'Version history'|translate}}
						</a>
					</li>
					<li>
						<a [routerLink]="['/contact']" class="nav-link text-white">
							<i-feather name="message-circle"></i-feather>
							{{'Contact'|translate}}
						</a>
					</li>
					<li>
						<a [routerLink]="['/users']" routerLinkActive="active" class="nav-link text-white">
							<i-feather name="users"></i-feather>
							{{'Users'|translate}}
						</a>
					</li>
					<li>
						<label>{{'Select your language'|translate}}:</label>
						<span class="form-inline">
							<select class="form-control" #selectedLang (change)="switchLanguage(selectedLang.value)">
								<option *ngFor="let language of translate.getLangs()" [value]="language"
									[selected]="language === translate.currentLang">
									{{language}}
								</option>
							</select>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="px-3 py-2 border-bottom mb-3">
		<div class="container d-flex flex-wrap justify-content-center">

			<!-- <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
				<input type="search" class="form-control" placeholder="Search..." aria-label="Search">
			</form> -->

			<div>
				<span class=" d-flex flex-column flex-shrink-0" *ngIf="(user$ | async)">{{'Welcome'|translate}},
					{{this.user$.value?.firstName
					+
					' ' + this.user$.value?.lastName}}! </span>
				<span class="flex-column mb-auto" *ngIf="(user$ | async)">{{'Your level of the role'|translate}}: {{
					this.user$.value?.role}}. </span>
				<br>
				<span class="flex-column mb-auto" *ngIf="(user$ | async)" right>{{rightsOfAdmin(this.user$.value?.role
					|| 1)}}</span>
			</div>
			<button *ngIf="(user$ | async)" type="button" class="btn btn-light text-dark me-2"
				[routerLink]="['/login']">{{'Sign out'|translate}}
				<i-feather name="log-out"></i-feather>
			</button>
			<button *ngIf="!(user$ | async)" type="button" class="btn btn-light text-dark me-2"
				[routerLink]="['/login']">{{'Sign in'|translate}}<i-feather name="log-in"></i-feather></button>
		</div>
	</div>

</header>