<div class="row">
	<div class="col-12 d-flex justify-content-center text-center">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title" *ngIf="user$ | async">{{'editUser'|translate}}</h4>
				<h4 class="card-title" *ngIf="!(user$ | async)">{{'addNewUser'|translate}}</h4>

			</div>
			<div class="card-body">
				<form #userForm="ngForm">
					<input type="hidden" name="id" [(ngModel)]="user._id">

					<h3 class="h5 text-secondary">{{'firstName'|translate}} *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" required
									pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="userForm.controls['firstName']?.valid" class="alert alert-danger" role="alert">
								{{'firstNameValid'|translate}}
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">{{'lastName'|translate}} *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" required
									pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="userForm.controls['lastName']?.valid" class="alert alert-danger" role="alert">
								{{'lastNameValid'|translate}}
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">{{'email'|translate}} *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="email" class="form-control" name="email" [(ngModel)]="user.email" [email]="true">
							</div>
							<div [hidden]="userForm.controls['email']?.valid" class="alert alert-danger" role="alert">
								{{'emailValid'|translate}}
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary"> {{'role'|translate}} *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="number" class="form-control" name="role" [(ngModel)]="user.role" required
									pattern="^[1-3]{1}$">
							</div>
							<div [hidden]="userForm.controls['role']?.valid" class="alert alert-danger" role="alert">
								{{'roleValid'|translate}}
							</div>
						</div>
					</div>


					<h3 class="h5 text-secondary">{{'Password'|translate}} *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="password" class="form-control" name="password" [(ngModel)]="user.password" required
									pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{7,}$">
							</div>
							<div [hidden]="userForm.controls['password']?.valid" class="alert alert-danger" role="alert">
								{{'passValid2'|translate}}
							</div>
						</div>
					</div>



					<button *ngIf="user$ | async" (click)="onUpdate(user)" [disabled]="userForm.invalid" type="submit"
						class="btn btn-primary pull-right me-md-3">{{'updateUser'|translate}}</button>
					<button *ngIf="!(user$ | async)" (click)="onCreate(user)" [disabled]="userForm.invalid" type="submit"
						class="btn btn-primary pull-right me-md-3">{{'createUser'|translate}}</button>
					<button routerLink="/users" type="button" class="btn btn-danger pull-left">{{'cancelEdit'|translate}}</button>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">

	</div>
</div>