<body>
	<div class="main-wrapper">

		<div class="
          auth-wrapper
          d-flex
          no-block
          justify-content-center
          align-items-center
          bg-dark
        ">
			<div class="auth-box bg-dark border-top border-secondary">
				<div id="loginform">
					<div class="text-center pt-3 pb-3">
						<span class="db"><img src="../../../assets/img/minlogo.png" alt="logo" width="250" /></span>
					</div>
					<h3 class="col-12">{{'Greetings'|translate}} <br>{{'notNeeded'|translate}}<br>
						{{'noMoreAccess'|translate}} <br>{{'freeOfCharge'|translate}}<br><br>{{'authorsName'|translate}}
						<br>{{'Authors'|translate}}
					</h3>
					<!-- Form -->
					<form (ngSubmit)="onLogin()" #loginForm="ngForm" class="form-horizontal mt-3" id="loginform">
						<div class="row pb-4">
							<div class="col-12">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-success text-white h-100" id="basic-addon1"><i
												class="mdi mdi-account fs-4"></i></span>
									</div>
									<input [(ngModel)]="loginData.email" [email]="true" type="email" class="form-control form-control-lg"
										placeholder="Email" name="email" aria-label="Email" aria-describedby="basic-addon1" [email]="true"
										required>
								</div>
								<div [hidden]="loginForm.controls['email'].valid" class="alert alert-danger" role="alert">
									{{'emailValid'|translate}}
								</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text bg-warning text-white h-100" id="basic-addon2"><i
											class="mdi mdi-lock fs-4"></i></span>
								</div>
								<input [(ngModel)]="loginData.password" type="password" class="form-control form-control-lg"
									placeholder="{{'Password'|translate}}" name="password" aria-label="Password"
									aria-describedby="basic-addon1" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
							</div>
							<div [hidden]="loginForm.controls['password'].valid" class="alert alert-danger" role="alert">
								{{'passValid'|translate}}
							</div>
						</div>
						<div class="row border-top border-secondary">

							<div class="text-center pt-3 pb-3 col-6">
								<button class="btn btn-success float-end text-white" type="submit" [disabled]="loginForm.invalid"
									*ngIf="loginForm.valid">
									{{'Sign in'|translate}}
								</button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>