<div class="scene">
	<div class="overlay"></div>
	<div class="overlay"></div>
	<div class="overlay"></div>
	<div class="overlay"></div>
	<span class="bg-403">403</span>
	<div class="text">
		<span class="hero-text"></span>
		<span class="msg">can't let <span>you</span> in.</span>
		<span class="support">
			<span>unexpected?</span>
			<a href="#">Return to home</a>
		</span>
	</div>
	<div class="lock"></div>
</div>
<span class="msg">This is a custom error page, inspired by the free, CodePen Home 403 forbidden (CSS hover) template by
	Piotr Galor. (https://codepen.io/pgalor/pen/dqQqqx)</span>