<div id="container">
	<h1 id="home">{{'Dictionary'|translate}} v.2.0.0 (2022-10-01)</h1>
	<h5>{{'Contact Informations'|translate}}</h5>
	<h5>{{'Developing, design'|translate}}: Dr. Porkoláb Ádám</h5>
	<br>
	<ul>
		<li><strong>{{'General'|translate}}:</strong></li>
		Dr. Porkoláb Ádám (adam(kukac)porkolab pont hu)
		<br>
		<br>
		<li><strong>{{'Special'|translate}}:</strong></li>
		Dr. Fekete Tamás (fekete pont tamas(kukac)pte pont hu) <br>
		<br>
		<li><strong>{{'Legal Infos'|translate}}</strong></li>
		© Copyright 2021-2023 Dr. Porkoláb Ádám - Dr. Fekete Tamás. <br><br>
		{{'Copyright'|translate}}
	</ul>
</div>