<div class="searchField form-group">
	<div class="row align-items-center">
		<div class="col-12 select_container">

			<label for="tableSearch">Keresés:</label>
			<select [(ngModel)]="filterKey" id="tableSearch" class="form-control">
				<option>Oszlopban..</option>
				<option *ngFor="let key of columns">
					{{ key.title }}
				</option>
			</select>
		</div>
		<div class="mb-3 input_container">
			<input [(ngModel)]="phrase" type="text" class="form-control" placeholder="Search...">
		</div>
	</div>
</div>


<div class="col-12 scroll ">
	<tr *ngIf="!(list) || list.length == 0">
		<td colspan="3">
			<div class="preloader">
				<div class="lds-ripple">
					<div class="lds-pos"></div>
					<div class="lds-pos"></div>
				</div>
			</div>
		</td>
	</tr>
	<div>
		<button *ngIf="this.auth.user$.value?.role === 3" [routerLink]="'edit/0'" class="btn btn-success col-12">Add a new
			{{ entity }} <i-feather name="user-plus">
			</i-feather></button>
	</div>

	<div class="row table-responsive">
		<table class="table table-striped table-hover table-dark">
			<thead>
				<tr>
					<th *ngFor="let col of columns" scope="col" class="table-light"> {{ col.title
						}}
						<i-feather (click)="onColumnSelect(col.key)" name="Shuffle" (mouseover)="showInfoAboutSorting()">
						</i-feather>
					</th>
					<th class="table-light">IMDB link</th>
					<th class="table-light"></th>
				</tr>
			</thead>
			<tbody *ngIf="list | filter: phrase:keys[filterKey] as li">
				<tr filteredList=li *ngFor="let row of li | slice: startSlice:endSlice | filter: '':''">
					<td *ngFor="let col of columns">{{ row[col.key] }}</td>
					<td>
						<!-- <td *ngIf="row['imdbID']">
							<a href="https://www.imdb.com/title/{{ row['imdbID'] }}" target="_blank">IMDB link <i-feather
									name="Globe">
								</i-feather></a>
						</td> -->
					<td>
						<div class="btn-group">
							<button (click)="onSelect(row)" class="btn btn-warning">
								<i-feather name="Settings">Edit </i-feather>
							</button>
							<button (click)="onDelete(row)" class="btn btn-danger">
								<i-feather name="file-minus" data-confirm="Are you sure to delete this item?">Delete </i-feather>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<nav aria-label="paginator">
		<ul class="pagination pagination-lg mt-4 nav justify-content-center">
			<li [className]="page===1 ? 'page-item disabled' : 'page-item'">
				<button class="page-link" (click)="jumptoPage(page - 1)" [disabled]="page===1">
					Previous<i-feather name="corner-down-left">
					</i-feather>
				</button>
			</li>
			<li *ngFor="let pageNum of pageList" class="page-item">
				<button [className]="page===pageNum ? 'page-link active' : 'page-link'" (click)=" jumptoPage(pageNum)">{{
					pageNum
					}}</button>
			</li>
			<li [className]="page===pageList.length ? 'page-item disabled' : 'page-item'">
				<button class="page-link" (click)="jumptoPage(page + 1)" [disabled]="page===pageList.length">Next<i-feather
						name="corner-down-right">
					</i-feather></button>
			</li>
		</ul>
	</nav>