<div class="s004">
  <div class="form-group">
    <img src="../../../assets/img/logo.png" alt="NyelvSzo logo" id="logo" />
    <legend>{{ 'WHAT ARE YOU LOOKING FOR?' | translate }}</legend>
    <div class="tableData inner-form">
      <div class="col-12 select_container input-field">
        <select
          [(ngModel)]="filterKey"
          (ngModelChange)="onSearchChange()"
          id="tableSearch"
          class="form-control"
        >
          <option value="">{{ 'table.searchAll' | translate }}</option>
          <option *ngFor="let col of columns" [value]="col.key">
            {{ col.title | translate }}
          </option>
        </select>
      </div>
      <div class="mb-3 input_container">
        <input
          [(ngModel)]="phrase"
          (ngModelChange)="onSearchChange()"
          type="text"
          class="form-control"
          id="choices-text-preset-values"
          placeholder="{{ 'placeholder' | translate }}"
        />
      </div>
    </div>
  </div>
</div>

<div class="col-12 scroll tableData">
  <div *ngIf="!list || list.length === 0" class="preloader-container">
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
  </div>

  <div>
    <button
      *ngIf="auth.user$.value?.role === 3"
      [routerLink]="'edit/0'"
      class="btn btn-success col-12"
    >
      {{ 'Add a new' | translate }} {{ entity }}
      <i-feather name="user-plus"></i-feather>
    </button>
  </div>

  <div class="row table-responsive" *ngIf="phrase || auth.user$.value?.role === 3">
    <table class="table table-striped table-hover table-dark">
      <thead>
        <tr>
          <th *ngFor="let col of columns" scope="col" class="table-light">
            {{ col.title | translate }}
            <i-feather
              (click)="onColumnSelect(col.key)"
              name="Shuffle"
              (mouseover)="showInfoAboutSorting()"
            ></i-feather>
          </th>
          <th class="table-light"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let row of filteredList | slice: startSlice : endSlice | sorter: columnKey : sortDir
          "
        >
          <td *ngFor="let col of columns">{{ row[col.key] }}</td>
          <td>
            <div class="btn-group">
              <button
                *ngIf="auth.user$.value?.role === 3"
                (click)="onSelect(row)"
                class="btn btn-warning"
              >
                <i-feather name="Settings"></i-feather>
                {{ 'Edit' | translate }}
              </button>
              <button
                *ngIf="auth.user$.value?.role === 3"
                (click)="onDelete(row)"
                class="btn btn-danger"
              >
                <i-feather name="file-minus"></i-feather>
                {{ 'Delete' | translate }}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="paginator" *ngIf="pageList.length >= 10 && auth.user$.value?.role === 3">
    <ul class="pagination pagination-lg mt-4 nav justify-content-center">
      <li [className]="page === 1 ? 'page-item disabled' : 'page-item'">
        <button class="page-link" (click)="jumpToPage(page - 1)" [disabled]="page === 1">
          {{ 'Previous' | translate }}<i-feather name="corner-down-left"> </i-feather>
        </button>
      </li>
      <li *ngFor="let pageNum of pageList" class="page-item">
        <button
          [className]="page === pageNum ? 'page-link active' : 'page-link'"
          (click)="jumpToPage(pageNum)"
        >
          {{ pageNum }}
        </button>
      </li>
      <li [className]="page === pageList.length ? 'page-item disabled' : 'page-item'">
        <button
          class="page-link"
          (click)="jumpToPage(page + 1)"
          [disabled]="page === pageList.length"
        >
          {{ 'Next' | translate }}<i-feather name="corner-down-right"> </i-feather>
        </button>
      </li>
    </ul>
  </nav>
</div>
