<div id="container" class="px-2">
	<h1 id="home">Angol-magyar nyelvészeti szakszótár v.2.0.0 (2022-10-0v1)</h1>
	<div id="szoveg">
		<h2>Előszó az első kiadáshoz</h2>
		<p>
		</p>
		<h3>Üdvözöljük az Olvasót! </h3>
		<p></p>
		<p>Magyar nyelven már az érdeklődő közönség hozzáférhet német–magyar, orosz–magyar nyelvészeti
			szakszótárakhoz, ám a modern idők tudományos világnyelvéhez, az angolhoz még nem készült nyelvészeti célú
			szakszótár. Ennek a több évtizedes hiánynak a leküzdésére vállalkoztunk. A nyelvtudomány rohamos fejlődése és
			differenciálódása tovább sürgette, hogy elkészítsük az első magyar-angol és angol-magyar nyelvészeti
			szakszótárakat.
			Jelen kötetben a kétnyelvű nyelvészeti szakszótárunk angol-magyar részét veheti kezébe az Olvasó.
			Tervünk azonban nem elődök nélküli vállalkozás: tudomásunk szerint két nyelvészeti csoport kísérelt meg a
			miénkhez
			hasonló angol-magyar nyelvészeti szakszótárat létrehozni. </p>
		<p>Az első próbálkozás Theodora Bynon "Történeti nyelvészet" című munkájának magyar fordítóihoz kötődik: Gherdán
			Tamás, Számadó Tamás, illetve Nádasdy Ádám készítettek nyelvészeti glosszáriumot, mely az 1997-ben, az Osiris
			Kiadónál megjelent kötet végén található. Ezt a fordítók Bynon-glosszáriumnak nevezték és körülbelül 500 címszót
			tartalmazott, melynek legnagyobb része hangtani és nyelvtörténeti jellegű volt. A második egy "Angol–magyar
			nyelvészeti glosszárium" című, 172 címszavas, 2002 körül keletkezett szakszójegyzék volt, melyet Várnai Judit
			Szilvia szerkesztett, s mely az "Onomastica Uralica" sorozat 2. kötetének fordításakor nyert tapasztalatokból
			keletkezett. Ez leginkább névtani jellegű szavakat tartalmazott. Mindkét "elődünk" szerzőinek, szerkesztőinek,
			fordítóinak köszönettel tartozunk a munkájukért. </p>
		<p>Előzetes tervezésünk során e két előd címszavainak áttekintéséből, lektorálásából indultunk ki, majd második
			körben
			a magyarul hozzáférhető nyelvészeti szakszótárak (német, illetve orosz) címszavait tekintettük át és a nem
			speciálisan célnyelvi, mégis nyelvészeti szakkifejezéseket emeltük címszavakká. Mindemellett fontosnak
			tartottuk,
			hogy ezt a nyers adathalmazt kiegészítsük és kibővítsük az elődök munkáiból még hiányzó címszótömbökkel, a még
			nem
			érintett nyelvtudományi ágak szakkifejezéseivel is. Az áttekintett munkák jegyzékét a következő oldalakon
			olvashatja
			a Kedves Olvasó. Szótárunk – bár teljességre törekszik – de természetesen nem minden nyelvészeti fogalom
			lefordítására terjed ki. </p>
		<p>2018 és 2021 között zajlott szerkesztési folyamat eredménye a most bemutatott angol-magyar nyelvészeti szakszótár
			körülbelül 12.500 szócikke. Munkánkat elsősorban szaktanulmányok írásához és fordításához, illetve nyelvészeti
			kutatáshoz ajánljuk. Mindezen okok miatt mellőztük a "hagyományos" angol–magyar szótárakban már megszokott,
			kiejtést
			segítő IPA átírást. </p>
		<p>Szótárunk írásmódjában a nyelvészetben megszokottabb amerikai írásmódot követi. Jelezzük viszont azokat a
			címszavakat, ahol a brit írásmód különbözik. Például: behavior (-ou-), center (-re). </p>
		<p>Már munkánk kezdeti szakaszától tudtuk a végcélunkat: olyan nyelvészeti indíttatású szótárat szerettünk volna
			megalkotni, amit az érettségire készülő középiskolástól egészen a külföldi előadására készülő egyetemi tanárig
			mindenki haszonnal forgathat. Emiatt a szótár
			tartalmazza a nyelvészeti alapszókincs, valamint az alkalmazott és általános nyelvészet a tudományos közösség
			által
			már elfogadott, a tudomány nyelvében gyökeret vert alakjainak angol és magyar változatait.

			A szótár anyagában helyet kaptak azon anatómiai és biológiai fogalmak magyar és angol megfelelői, melyek a
			beszédképzésben szerepet játszanak, illetve fontosnak tartottuk, hogy a leggyakoribb beszédképzéssel,
			beszédkognícióval kapcsolatos patológiás folyamatok, kórok neveit is felsoroljuk.
			Szótárunkban a címszavak latin és magyar variánsai külön szócikkben szerepelnek. Szintén külön szedtünk minden
			szinonímát is. Külön szócikket kapott például: a befejezett szemlélet és a perfektív aspektus is. Ennek oka,
			hogy az
			eltérő nyelvészeti képzettséggel rendelkezők is haszonnal forgathassák munkánkat.</p>
		<p> A szótár anyagának összeállítása
			során különösen, de nem kizárólagosan a stilisztika, a szociolingvisztika, a szemantika, a nyelvtörténet, az
			areális
			nyelvészet, az anglisztika, a netnyelvészet, a gendernyelvészet, a korpusznyelvészet, a neurolingvisztika, a
			névtan
			és az alaktan szaknyelvi elemei közül válogattunk. A kezdő kutatók külföldi publikációinak elősegítése érdekében
			felvettük a szerkesztők és szerzők számára alapvető kutatásmódszertani terminológiát és nyomdatechnikai
			szakkifejezéseket is.
			Fontos azonban kiemelni, hogy a szótárban szereplő fogalmak definíciójára, értelmezésére az eltérő tudományos
			iskolák és a tématartás miatt nem vállalkozhattunk.

			Szintén szerkesztői döntés volt a nyelvtörténeti és terjedelmi körülhatárolás miatt, hogy elsősorban csak a
			germán
			és uráli nyelvek esetében vettük fel a szótár anyagába az adott nyelvek nyelvtörténeti korszakainak elnevezéseit
			(pl. ómagyar, középangol).

			Munkánk felépítésében támaszkodtunk a magyar-angol szótárszerkesztés hagyományaira, kifejezetten a "nagy előd"
			Országh László szerkesztési elveire, de el is tértünk azoktól: mivel a szaknyelvi szókincs esetén nem láttuk
			célszerűnek, így a hasonló alakú
			szavak szóbokrozásától eltekintettünk, de az eltérő jelentéseket megkülönböztettük egymástól. Itt is újítani
			kényszerültünk: a sorszámozás helyett nyelvtudományi szakterület szerint külböztettük meg azokat egymástól. Ha
			szükséges volt saját, rövid magyarázatot adtunk a címszóhoz.&nbsp;</p>
		<p>&nbsp;Bármennyire is törekedtünk rá, de biztosan tudjuk, hogy munkánk nem hibátlan. A Kedves Olvasó szótárunk
			anyagához
			fűzött, segítő szándékú kritikáját, hibajelzéseit és kiegészítéseit szeretettel várjuk.

			Ezekre a címekre várjuk könyvkiadók, nyomdaipari szakemberek megkeresését is, akik segítenének szótáraink
			nyomtatott
			formában történő megjelentetésében, a tördelési hiányosságok kiküszöbölésében.
			Végezetül minden olvasónk számára kívánjuk, hogy szótárunk legyen annyira teljes és jól használható, mint
			amilyennek
			mi terveztük.</p>
		<p> Pécsett, 2021. március 26. </p>
		<p><em><a href="mailto:adam.porkolab@gmail.com">Dr.
					Porkoláb Ádám</a> és <a href="mailto:fekete.tamas@pte.hu">Dr.Fekete
					Tamás</a> </em></p>
		<p><strong>A szerzők </strong></p>
	</div>
	<div id="forrasok">
		<h1>A szótár anyagának összeállítása során a következő művekre támaszkodtunk</h1>
		<strong>Az itt megadott internetes linkek 2020. július 1-jén még elérhetőek voltak.</strong>
		<ul>
			<li> Babbie E. (2008). A társadalomtudományi kutatás gyakorlata. Budapest: Balassi K.</li>
			<li> Babbie E. R. (2013). The practice of social research (Thirteenth edition.). Belmont, Calif: Wadsworth
				Cengage Learning.
			</li>
			<li>Baker P., Hardie A., &amp; McEnery T. (2006). A glossary of corpus linguistics. Edinburgh: Edinburgh
				University
				Press.
			</li>
			<li>Bódi Z. (2004). A világháló nyelve: internetezők és internetes nyelvhasználat a magyar társadalomban.
				Budapest: Gondolat.
			</li>
			<li>Bölcskei A., Farkas T. &amp; Slíz M. (Szerk.) (2017). Magyar és nemzetközi névtani terminológia / Hungarian
				and
			</li>
			<li> International Onomastic Terminology. International Council of Onomastic Sciences; Magyar Nyelvtudományi
				Társaság, Uppsala; Budapest.
			</li>
			<li>Borgulya I. (2014). Kulturális távolságok: vállalatokon belüli és országok közötti interakciókban: elmélet
				és gyakorlat. Budapest: Typotex.
			</li>
			<li>Boronkai D. (2009). Bevezetés a társalgáselemzésbe. Ad Librum Kiadó.</li>
			<li>Brown E. K. &amp; Miller J. E. (2013). The Cambridge dictionary of linguistics. Cambridge; New York:
				Cambridge
				University Press.
			</li>
			<li>Campbell L. &amp; Mixco M. J. (2007). A glossary of historical linguistics. Edinburgh: Edinburgh Univ.
				Press.
			</li>
			<li>Carr P. (2008). A glossary of phonology. Edinburgh: Edinburgh University Press.</li>
			<li> Cruse D. A. (2006). A glossary of semantics and pragmatics. Edinburgh: Edinburgh University Press.</li>
			<li>Crystal D. (2003). A nyelv enciklopédiája. Budapest: Osiris K.</li>
			<li> Crystal D. (2008). A dictionary of linguistics and phonetics (6th ed.). Malden, MA; Oxford: Blackwell
				Pub.
			</li>
			<li> Evans V. (2007). A glossary of cognitive linguistics. Edinburgh: Edinburgh Univ. Press.</li>
			<li> Földes Cs. (1997). Linguistisches Wörterbuch Deutsch-Ungarisch. Szeged: Generalia.</li>
			<li> Gherdán T., Számadó T. &amp; Nádasdy Á. (összeáll.) (1997). Nyelvészeti szakszójegyzék angol-magyar,
				magyar-angol (ún. "Bynon-glosszárium") Letöltés helye: <a
					href="http://www.nytud.hu/tlp/glossary/">https://www.nytud.hu/tlp/glossary/</a>
			</li>
			<li> Gyurgyák J. (2005). Szerzők és szerkesztők kézikönyve. Budapest: Osiris.</li>
			<li> Hartmann R. R. K. &amp; James G. (2002). Dictionary of Lexicography. London &amp; New York: Routledge.</li>
			<li> Horváth M., D. Mátai M., Korompay K., &amp; H. Bottyánfy É. (2005). Bevezetés az egyetemi magyar
				nyelvészeti
				tanulmányokba: Egyetemi segédkönyv. Nemzeti Tankönyvkiadó. Letöltés helye: <a
					href="http://observatory.org.hu/en/information/hungarian-english-glossary/">https://observatory.org.hu/en/information/hungarian-english-glossary/</a>
			</li>
			<li> Huszár Á. (2009). Bevezetés a gendernyelvészetbe: miben különbözik és miben egyezik a férfiak és a nők
				nyelvhasználata és kommunikációja? Budapest: Tinta.
			</li>
			<li> Kálmán L. &amp; Trón V. (2007). Bevezetés a nyelvtudományba (2., bőv. kiad.). Budapest: Tinta Könyvkiadó.
			</li>
			<li>Kassai I. (2005). Fonetika. Budapest: Nemzeti Tankönyvkiadó.</li>
			<li> Kiefer F., Siptár P., &amp; Bakró-Nagy M. S. (szerk.). (2006). Magyar nyelv. Budapest: Akadémiai Kiadó.
			</li>
			<li> Klaudy K. (1999). Bevezetés a fordítás elméletébe. Budapest: Scholastica.</li>
			<li>Klippel R., Tóth E., &amp; Bacskó V. (szerk.). (2014). Nyelvész hallgatók, beszélő nyelvészek. Szeged:
				Szegedi
				Egyetemi Kiadó: Juhász Gyula Felsőoktatási Kiadó.
			</li>
			<li> Kövecses Z. &amp; Benczes R. (2016). Kognitív nyelvészet. Budapest: Akadémiai Kiadó.</li>
			<li> Krippendorff K. (2004). Content analysis: an introduction to its methodology (2nd ed.). Thousand Oaks,
				Calif: Sage.
			</li>
			<li> Kugler N. &amp; Tolcsvai Nagy G. (2000). Nyelvi fogalmak kisszótára A-Zs. Budapest: Korona Kiadó.</li>
			<li> Laczkó K. &amp; Mártonfi A. (2006). Helyesírás. Budapest: Osiris.</li>
			<li> Petőfi S. J. &amp; Benkes Z. (2002). A multimediális szövegek megközelítései: Kérdések - válaszok. Pécs:
				Iskolakultúra. Letöltés helye: <a href="http://mek.oszk.hu/01800/01814">https://mek.oszk.hu/01800/01814</a>
			</li>
			<li> Pléh Cs. &amp; Lukács Á. (szerk.). (2014). Pszicholingvisztika 1-2: Magyar pszicholingvisztikai kézikönyv.
				Budapest: Akadémiai.
			</li>
			<li> Pléh Cs., Síklaki I., &amp; Terestyéni T. (szerk.). (1997). Nyelv, kommunikáció, cselekvés. Budapest:
				Osiris.
			</li>
			<li>Porkoláb Á. (2017). A magyar blogoszféra netnyelvészeti vizsgálata tartalomtípusok és nemek alapján
				(PhD-disszertáció). Pécsi Tudományegyetem, Alkalmazott Nyelvészeti Doktori Program, Pécs.
			</li>
			<li>Sajtos L. &amp; Mitev A. (2007). SPSS kutatási és adatelemzési kézikönyv. Budapest: Alinea.
				Salga A. (1993). Orosz nyelvészeti kislexikon. Debrecen: Kossuth Lajos Tudományegyetem Bölcsészettudományi
				Kar.
			</li>
			<li>Siptár P. (1980). Nyelvészeti kisszótár. Alapvető terminus technicusok a modern nyelvészetben. Budapest:
				MKKE - Nyelvi Intézet.
			</li>
			<li>Szathmári I. (2004). Stilisztikai lexikon: stilisztikai fogalmak magyarázata szepirodalmi példákkal
				szemléltetve. Budapest: Tinta.
			</li>
			<li>Szirmai M. (2005). Bevezetés a korpusznyelvészetbe: a korpusznyelvészet alkalmazása az anyanyelv és az
				idegen nyelv tanulásában és tanításában. Budapest: Tinta.
			</li>
			<li>Tóth Sz., Zánthó R., Földes Cs., &amp; Csúri P. (1999). Nyelvészet és társadalom [Elektronikus dok.]:
				oktatási
				segédanyag. Szeged: Infotec.
			</li>
			<li> Trudgill P. (2003). A Glossary of Sociolinguistics. Oxford University Press.</li>
			<li>Várnai J. Sz. (2002): Angol--magyar nyelvészeti glosszárium. Letöltés helye: <a
					href="http://mnytud.arts.klte.hu/glossary.htm">https://mnytud.arts.klte.hu/glossary.htm</a></li>
		</ul>
	</div>
</div>